[Unit]
Description=ALTAIR V2 Flight Computer
After=network.target

[Service]
Type=notify
WorkingDirectory=/home/altairfc/ALTAIR_FC_V2/altairfc
Environment=TZ=UTC
ExecStart=/home/altairfc/.local/lib/miniconda3/bin/python3 main.py
Restart=on-failure
RestartSec=5
NotifyAccess=main
WatchdogSec=30
KillMode=mixed
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
